.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

.footerlinks:hover {
    color: #ffd800;
}

#footer1 {
    background: #9EC7E7;
    height: 30px;
}

#footer2 {
    background: #5E7790;
    height:30px;
}

.nav-link {
    color: #000000;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 25%;
    padding: 2px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

#footerColor {
    background: #5E7790;
}

a {
    color: white;
}

#GridView1 {
    width: 100%;
    word-wrap: break-word;
    table-layout: fixed;
}