.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

.footerlinks:hover {
    color: #ffd800;
}

#footer1 {
    background: #9D9EAA;
}

#footer2 {
    background: #5E5D63;
}

.nav-link {
    color: #000000;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}